body{
    background: antiquewhite;
}

#top{
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#notes{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

.white{
    background-color: white;
    color: black;
    border: none;
    float: left;
    width: 75px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 9px grey;
}

.white:hover {background-color: grey;}

.white:active {
    box-shadow: 0 5px grey;
    transform: translateY(5px);
}

.black{
    background-color: black;
    color: white;
    border: none;
    float: left;
    width: 75px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 9px grey;
}

.black:hover {background-color: grey;}

.black:active {
    box-shadow: 0 5px grey;
    transform: translateY(5px);
}

#octave{
    margin-top: 30px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#table{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 28px;
}

#commands{
    border-collapse: collapse;
}

#commands td, #commands th {
    border: 1px solid black;
    padding: 7px;
  }

#button{
    display: flex;
    justify-content: center;
}

.game{
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: greenyellow;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 9px grey;
}

.game:hover {background-color: grey;}

.game:active {
    box-shadow: 0 5px grey;
    transform: translateY(5px);
}

#scoreSection{
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}